.ProductWrap {
    display: flex;
    width: 80%;
    padding-top: 10%;
}
.LeftDiv {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 2.5%;
}
#BigImg img{
    width:75%;
    border-radius: 1em;
}
.RightDiv {
    display: flex;
    flex-direction: column;
    width: 45%;
}