@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Kumbh+Sans&display=swap');

.ProductWrap {
    display: flex;
    width: 80%;
    padding-top: 10%;
    margin-left: 10%;
    font-family: 'kumbh sans', sans-serif;
}
.LeftDiv {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 2%;
}
#BigImg img{
    width:65%;
    border-radius: 1em;
}
#BigImg img:hover {
    cursor: pointer;
}
#ImgSelector {
    width:60%;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-top: 1%;
}
#ImgSelector img {
    width:23%;
    padding: 2%;
    border-radius: 25%;
    border: 2.5px solid transparent;
}
#ImgSelector img:hover {
    border: 2.5px solid grey;
    cursor: pointer;
}
.RightDiv {
    display: flex;
    flex-direction: column;
    width: 35%;
    text-align: left;
    margin-left: 5%;
    margin-top: 2.5%;
}
#text-desc {
    width: 80%;
}
.RightDiv p {
    color: hsl(219, 9%, 45%);
    font-size: 16px;
}
#add-to-cart {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border: 3px solid transparent;
}
#add-to-cart button {
    background-color: hsl(26, 100%, 55%);
    color: white;
    width: 45%;
    border-radius: .5em;
    border: none;
    margin: 2.5%;
    margin-left: 3%;
    height: 100%;
    box-shadow: 0px 10px 10px hsl(25, 100%, 94%);
    border: 2.5px solid transparent;
}
#add-to-cart button:hover{
    border:2.5px solid hsl(219, 9%, 45%);
}
.counter {
    background-color: hsl(223, 64%, 98%);
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    align-items: center;
    border-radius: .5em;
    margin-top: 2.5%;
    height: 100%;
}
#counter img {
    height: 45%;
    align-items: center;
}
#counterMinus {
    padding: .75em;
    border: 2.5px solid transparent;
}
#counterPlus {
    padding: .75em;
    border: 2.5px solid transparent;
}
#counterMinus:hover {
    border: 2.5px solid lightgrey;
}
#counterPlus:hover {
    border: 2.5px solid lightgrey;
}
#newPrice {
    font-weight: bold;
}
#percent-off {
    margin-left:2.5%;
    color: hsl(26, 100%, 55%);
    font-weight: bold;
    background-color: hsl(25, 100%, 94%);
    border-radius: .5em;
    padding-left:1.5%;
    padding-right:1.5%;
}
#previousPrice {
    color: lightgrey;
    text-decoration: line-through;
}
h5 {
    color: hsl(26, 100%, 55%);
}
h1 {
    font-weight: bold;
}