.cartBoxWrap {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 15px 15px grey;
    background-color: white;
    border-radius: .5em;
    width: 25vw;
    height: 25%;
    top: 15%;
    right: 15%;
    display: none;
}
.cartBoxBox {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 2.5%;
}
#closeIcon {
    width: 5%;
    margin-left: 75%;
    padding: 1%;
}
#closeIcon:hover {
    cursor: pointer;
}

