.cartBoxWrap {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 15px 15px grey;
    background-color: white;
    border-radius: .5em;
    width: 25vw;
    height: 25%;
    top: 15%;
    right: 15%;
    display: none;
}
.cartBoxBox {
    display:flex;
    justify-content: space-around;
    padding: 2.5%;
}
.cartThumb {
    margin: 2.5%;
    width: 20%;
    border-radius: .5em;
}
.checkout {
    background-color: hsl(26, 100%, 55%);
    color: white;
    width: 75%;
    height: 25%;
    border-radius: .5em;
    border: none;
    margin: 2.5%;
    margin-left: 3%;
    border: 2.5px solid transparent;
}
.checkout:hover {
    border:2.5px solid hsl(219, 9%, 45%);
    box-shadow: 0px 10px 10px hsl(25, 100%, 94%);
    cursor: pointer;
}
#boldMe {
    font-weight: bold;
}
.cartBoxText {
    align-self: center;
}
.cartTrash {
    width: 5%;
    height: 5%;
    align-self: center;
}
.cartTrash:hover {
    cursor: pointer;
}