.lightBoxWrap {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    /* display: none; */
}
.lightBoxBox {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 2.5%;
}