#navBarWrap {
    display: flex;
    width: 80%;
    border-bottom: 1px solid rgb(173, 160, 160);
    margin-left: 10%;
    overflow: hidden;
}
#navBarLinks ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
#navBarLinks ul li a {
    color: grey;
    text-decoration: none;
    border-bottom: 2.5px solid transparent;
}
#navBarLinks ul li a:hover {
    /* text-decoration: underline; */
    color: black;
    font-weight: 600;
}
#navBarLinks{
    width:50%;
    margin: 2.5%;
}
#header-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width:45%;
}
#header-right div{
    margin: 2.5%;
}
#avatar {
    width:50%;
    border: 2.5px solid transparent;
}
#avatar:hover {
    border: 2.5px solid hsl(26, 100%, 55%);
    border-radius: 50%;
}
.sticky {
    position: absolute;
}
.ItemsInCart {
    z-index: 999;
    position: fixed;
    background-color: hsl(26, 100%, 55%);
    color: white;
    border-radius: .5em;
    padding-left: .35%;
    padding-right: .35%;
}